H1 {
	FONT-SIZE: 16pt; TEXT-ALIGN: center
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14pt; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 1px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13pt; PADDING-BOTTOM: 0px; MARGIN: 1px 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12pt; PADDING-BOTTOM: 0px; MARGIN: 1px 0px 10px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11pt; PADDING-BOTTOM: 0px; MARGIN: 1px 0px; PADDING-TOP: 0px
}
.redtext {
	FONT-WEIGHT: bold; COLOR: #990000
}
.head-nav {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 1px; PADDING-TOP: 1px
}
.title {
	MARGIN: 5px 0px 1px; TEXT-ALIGN: center
}
.table_title {
	FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.subheading {
	MARGIN-LEFT: 3em
}
BODY {
	MARGIN-LEFT: 3em; MARGIN-RIGHT: 3em
}
